/* style css */

/* import font */
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"), url("../font/Poppins-Regular-package/Poppins-Regular.woff2"), url("../font/Poppins-Regular-package/Poppins-Regular.woff"),
    url("f../font/Poppins-Regular-package/Poppins-Regular.ttf");
  font-display: swap;
}

/* bikin keyframes buat animasi background  */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ini configurasi element bodynya biar ada gradient animasi gitu */
body {
  font-family: "Poppins-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; /* tipe-fontsnya */
  background: linear-gradient(to bottom right, #ee7752, #ff2c9d, #23a6d5, #23d5ab); /* warna background linear gradient */
  height: 100%; /* biar selalu ngepas layar */
  background-repeat: no-repeat; /* biar ga direpeat backgroundnya */
  background-attachment: fixed; /* biar background tetap di halaman saat di scroll */
  background-size: 400% 400%; /* ukurannya biar gede dari layar buat efek animasi gradientnya */
  animation: gradientAnimation 15s ease infinite; /* ini animasi gradient pake infinite biar jalan terus */
}

/* sesuai nama kelasnya, judul website */
.judul_website {
  font-size: 46px; /* ukuran font judul */
  color: white; /* warna font judul */
  text-align: center; /* biar di tengah */
  margin: 50px auto; /* margin atas dan bawah 50px, sampingnya auto biar tengah */
  padding: 0 50px; /* padding kiri kanan 50px */
  font-weight: bolder; /* tebal fontnya */
  text-shadow: 0 0 20px rgba(255, 44, 157, 1); /* efek glow warna */
}

/* ini buat kontainer isi gallerynya */
.container {
  margin: 0 auto 50px; /* biar posisi kontainernya di tengah dan kasih margin bawah 50px, atas gaperlu soalnya udah margin di judul */
  width: 100%; /* lebarnya sesuaiin layar aja */
  text-align: center; /* biar isi kontennya di tengah (?) idk ini works, seingetku nanti ada justify content deh cuma belum belajar sih (if it works, it works! lmao) */
}

.gallery {
  font-size: 0; /* ini biar gaada jarak atau white space di antara element dengan class gallery*/
}

/* styling buat element kotak putih untuk setiap gambarnya */
.gallery li {
  position: relative; /* dibikin relative biar isinya nanti nyesuaiin element li ini */
  width: 270px;
  height: 270px; /* width dan heightnya kasih 270px */
  margin: 30px; /* marign 30px biar ada jarak antara element ini */
  padding: 15px; /* kasih padding biar nanti bagus gambarnya ga mepet banget */
  background: white; /* warna kotak putih */
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.35); /* kasih box shadow yang bagus */
  display: inline-block; /* kasih inline-block biar menyamping */
  overflow: hidden; /* ini buat nyembunyiin element yang kelebihan sekaligus captionnya */
  box-sizing: border-box; /* biar tetep sizenya 270px meskipun ada padding atau margin dll dah */
  text-align: center; /* biar ketengah element yang ada di dalemnya */
}

/* ini buat a href biar bisa diklik nantinya */
.gallery .a-thumbnail {
  position: absolute; /* kasih position biar bisa disesuaiin */
  top: 0;
  left: 0; /* top left 0 biar posisinya mentok kiri atas dari element li */
  width: 100%;
  height: 100%; /* width height 100% biar lebar panjangnya sesuai element li */
  text-decoration: none; /* biar gaada underline di textnya */
}

/* ini styling gambarnya */
.thumbnail {
  position: absolute; /* kasih absolute biar sekali lagi ngikutin element li */
  top: 50%;
  left: 50%; /* top dan left 50% biar ujung kiri dari gambarnya itu pas di tengah tengah element li */
  transform: translate(-50%, -50%); /* trus ditranslate atau digeser(?) posisinya ke atas kiri biar element gambar ini pas banget di tengah */
  width: 200px;
  height: 200px; /* width height 200px biar ga menuhin element li */
  object-fit: cover; /* ini juga biar gambarnya ga overlap atau gepeng gitu dah wkwkw */
  border-radius: 20px; /* kasih lengkungan */
  transition: 0.5s; /* biar nanti kalo dihover ada transisinya */
}

/* ini buat styling hover gambar */
.gallery .a-thumbnail:hover .thumbnail {
  filter: grayscale(1); /* nah ini kalo dihover ntar bakal jadi abu abu gambarnya */
}

/* ini buat styling caption */
.caption {
  position: absolute; /* sekali lagi buat posisinya ngikut element li */
  top: 50%;
  left: 50%; /* sama kaya .thumbnail */
  width: 100%;
  height: 100%; /* sama kaya .thumbnail */
  line-height: 250px; /* ini biar tulisannya di tengah kotak (disesuaiin lagi kalo kotak atau element linya berubah, ribet sih wkwk)*/
  font-size: 24px; /* font size */
  background: rgba(0, 0, 0, 0.5); /* biar kalo dihover nanti kek ada warna hitam transparan gitu */
  transform: translate(-50%, -50%); /* sama kata .thumbnail */
  color: white; /* warna fontnya */
  opacity: 0; /* diilangin dulu, nanti diubah kalo pas dihover */
  transition: 0.5s; /* sama kaya .thumbnail */
}

/* ini buat hover stylibg captionnya */
.gallery .a-thumbnail:hover .caption {
  opacity: 100%; /* munculin textnya */
}

/* overlay */
.overlay {
  position: fixed; /* tetep di posisi meskipun di scroll */
  overflow: hidden; /* sembunyiin dulu kontennya */
  top: 0;
  left: 0; /* top left 0 biar ngepas layar dikombinasiin bottom right di .overlay:target*/
  background: rgba(0, 0, 0, 0); /* awal bikin transparan */
  z-index: 9; /* biar ada di atas element lain */
  transition: 0.5s ease; /* transisi nanti buat animasi */
}

/* style ketika elementnya di target idnya */
.overlay:target {
  width: auto;
  height: auto; /* width height auto biar ngepas layar */
  bottom: 0;
  right: 0; /* bottom right 0 biar ngepas layar dikombinasiin sama top left yang ada di .overlay */
  background: rgba(0, 0, 0, 0.8); /* latar belakang biar gelap agak transparan */
  box-sizing: border-box; /* you know lah */
}

/* styling gambar di overlay */
.overlay img {
  position: absolute; /* biar dimensi relative .overlay */
  max-height: 70%; /* batas tinggi gambar (biar ga mepet kalo di hp maupun desktop layar kecil) */
  max-width: 90%; /* sama kaya max-height */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* biar gambar di tengah dikombinasiin sama top left 50% */
  box-shadow: 0 0 20px rgba(255, 44, 157, 1); /* kasih efek glow */
}

/* efek zoom */
@keyframes fadeZoom {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* kalo overlay di target kasih animasi zoom do gambarnya */
.overlay:target img {
  animation: fadeZoom 1s;
}

.overlay .tombol-close {
  position: absolute; /* biar posisinya ngikut dimensi .overlay */
  left: 50%;
  bottom: 7%;
  transform: translateX(-50%); /* biar tengah bawah dikombinasiin left 50% bottom 7% */
  z-index: 10; /* biar di atas overlay ((gambar) */
  background: #ff2c9d; /* warna tombolnya pink */
  color: #fff; /* text warna putih */
  padding: 10px 18px; /* kasih padding atas bawah 10px kiri kanan 18px */
  border-radius: 8px; /* rounded */
  text-decoration: none; /* biar tulisannya gaada garisnya */
  font-weight: bold; /* tebelin tulisan */
  font-size: 18px; /* font size tombolnya */
  box-shadow: 0 0 20px rgba(255, 44, 157, 0.5); /* glow tombol */
}

/* kalo dihover biar berubah warna backgroundnya */
.overlay .tombol-close:hover {
  background: #ee7752;
}

/* ini animasi buat tombol close atau tutup */
@keyframes fadeClose {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* kasih animasi tutup */
.overlay:target .tombol-close {
  animation: fadeClose 1s;
}
