@font-face {
  font-family: "poppins";
  src: url(../font/poppins.woff2);
  font-display: swap;
}

/* Desktop */

:root {
  font-size: 62.5%;
}

body {
  font-family: "poppins", sans-serif;
  background-color: rgb(37, 37, 37);
}

/* Navbar styling */

nav {
  display: flex;
  position: fixed;
  font-size: clamp(1.8rem, 1.5rem + 0.5vw, 2.4rem);
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  color: white;
  background-color: rgb(0, 0, 0);
  height: 80px;
  box-sizing: border-box;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  user-select: none;
}

.hamburger {
  display: none;
  position: absolute;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

nav .logo {
  font-size: clamp(2.8rem, 2rem + 2vw, 4.6rem);
  font-weight: bolder;
  margin: 0 0 0 50px;
}

nav .navMenu {
  overflow: auto;
}

nav .navMenu .navMenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav .navMenu .navMenuContainer .navMenuList {
  font-size: clamp(1.8rem, 1.4rem + 1vw, 2.8rem);
  list-style: none;
}

nav .navMenu .navMenuContainer .navMenuList:not(:last-child) {
  margin: 0 10px;
}

nav .navMenu .navMenuContainer .navMenuList:last-child {
  margin-left: 10px;
  margin-right: 50px;
}

nav .navMenu .navMenuContainer .navMenuList .navMenuItem {
  color: inherit;
  text-decoration: none;
}

nav .navMenu .navMenuContainer .navMenuList .navMenuItem:hover {
  color: orange;
}

nav .navMenu .navMenuContainer .navMenuList .navMenuItem.DLMode {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  width: 4rem;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

nav .navMenu .navMenuContainer .navMenuList .navMenuItem:hover {
  transition: color 0.3s ease-in-out;
}

/* Main container */
main {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  padding: 85px 1rem 1rem 1rem;
  font-size: clamp(1.6rem, 1rem + 1vw, 2.2rem);
}

main .container {
  width: 1200px;
  padding: 0 3.5rem 3.5rem 3.5rem;
  text-align: justify;
}

main .container a {
  text-decoration: none;
  color: rgb(0, 191, 255);
}

main .container a:hover {
  text-decoration: none;
  color: orange;
}

/* Light mode toggle */
body.lightMode {
  background-color: white;
  color: black;
}

body.lightMode nav {
  background-color: white;
  color: black;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

body.lightMode nav .hamburger span {
  background-color: black;
}

body.lightMode nav .navMenu {
  background-color: white;
}

body.lightMode nav .navMenu .navMenuContainer .navMenuList .navMenuItem:hover {
  color: red;
}

body.lightMode nav .navMenu .navMenuContainer .navMenuList .navMenuItem.DLMode {
  background: black;
  color: white;
}

body.lightMode main .container {
  color: black;
}

body.lightMode main .container a:hover {
  text-decoration: none;
  color: red;
}

/* Responsive */

@media (max-width: 846px) {
  /* Navbar styling */
  nav {
    justify-content: end;
  }

  nav .logo {
    margin-right: 20px;
  }

  nav .hamburger {
    position: absolute;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .hamburger span {
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }

  nav .hamburger span:nth-child(1) {
    top: 25%;
  }

  nav .hamburger span:nth-child(2) {
    top: 50%;
  }

  nav .hamburger span:nth-child(3) {
    top: 75%;
  }

  nav .navMenu {
    position: absolute;
    top: 80px;
    left: -245px;
    background-color: black;
    width: 240px;
    height: 100dvh;
    transition: all 0.3s ease-in-out;
  }

  nav .navMenu .navMenuContainer {
    flex-direction: column;
    padding: 0;
  }

  nav .navMenu .navMenuContainer li.navMenuList:first-child {
    margin: 20px 0px 0px 20px;
  }

  nav .navMenu .navMenuContainer li.navMenuList:not(:first-child) {
    margin: 10px 0px 0px 20px;
  }

  nav .navMenu.active {
    left: 0;
  }

  nav .hamburger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }

  nav .hamburger.active span:nth-child(2) {
    top: 50%;
    opacity: 0;
  }

  nav .hamburger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* Main styling */

  main .container {
    padding: 0 1rem 1rem 1rem;
  }
}
